flow.json
[
    {
        "id": "8969e088.4fdd8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a413c5de.eff2d8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "95f1f9c.778f308",
        "type": "dialogflowv2-token",
        "name": "dialogflow_node_red"
    },
    {
        "id": "5626de81.aa2ad",
        "type": "dialogflowv2-token",
        "name": "ISMBot-Q"
    },
    {
        "id": "5e86036e.d2eadc",
        "type": "inject",
        "z": "a413c5de.eff2d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ngrokUrl",
                "v": "https://78f0bef83421.ngrok.io",
                "vt": "str"
            },
            {
                "p": "token",
                "v": "1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 60,
        "wires": [
            [
                "1a308210.a38b4e"
            ]
        ]
    },
    {
        "id": "5b2a4d59.fb0cd4",
        "type": "debug",
        "z": "a413c5de.eff2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "519acc7a.fe2634",
        "type": "http request",
        "z": "a413c5de.eff2d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "5b2a4d59.fb0cd4"
            ]
        ]
    },
    {
        "id": "fe21fe38.121c9",
        "type": "http in",
        "z": "a413c5de.eff2d8",
        "name": "",
        "url": "/blablabot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "7f4cfafb.abf044",
                "dc3f4632.3aabc8",
                "b6adb4cb.674e18"
            ]
        ]
    },
    {
        "id": "7f4cfafb.abf044",
        "type": "http response",
        "z": "a413c5de.eff2d8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 120,
        "y": 360,
        "wires": []
    },
    {
        "id": "dc3f4632.3aabc8",
        "type": "debug",
        "z": "a413c5de.eff2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "b6adb4cb.674e18",
        "type": "change",
        "z": "a413c5de.eff2d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chat.id",
                "pt": "msg",
                "to": "payload.message.from.id",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "4d21abd9.be5894"
            ]
        ]
    },
    {
        "id": "3f8a4b82.a5bc94",
        "type": "function",
        "z": "a413c5de.eff2d8",
        "name": "",
        "func": "msg.payload = {\n    text: msg._dialogflow.fulfillmentText,\n    chat_id: msg.payload.message.from.id,\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 200,
        "wires": [
            [
                "9bb4984a.f303b8"
            ]
        ]
    },
    {
        "id": "9bb4984a.f303b8",
        "type": "http request",
        "z": "a413c5de.eff2d8",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 870,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1a308210.a38b4e",
        "type": "change",
        "z": "a413c5de.eff2d8",
        "name": "Set values",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & msg.token & \"/setWebhook?url=\" & msg.ngrokUrl & \"/blablabot\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "519acc7a.fe2634"
            ]
        ]
    },
    {
        "id": "4d21abd9.be5894",
        "type": "dialogflowv2",
        "z": "a413c5de.eff2d8",
        "dialogflow": "5626de81.aa2ad",
        "language": "uk",
        "debug": false,
        "queryParamsOK": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "3f8a4b82.a5bc94",
                "2328d9d7.8ef5f6"
            ]
        ]
    },
    {
        "id": "2328d9d7.8ef5f6",
        "type": "debug",
        "z": "a413c5de.eff2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "cd33229a.0c4cb",
        "type": "inject",
        "z": "8969e088.4fdd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "6cf509ca.8cf978"
            ]
        ]
    },
    {
        "id": "453a9803.7bb568",
        "type": "debug",
        "z": "8969e088.4fdd8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "6cf509ca.8cf978",
        "type": "http request",
        "z": "8969e088.4fdd8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/setWebhook?url=https://aee3c1b8ac4d.ngrok.io/blablabot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "453a9803.7bb568"
            ]
        ]
    },
    {
        "id": "74bd66bb.7109a8",
        "type": "http in",
        "z": "8969e088.4fdd8",
        "name": "",
        "url": "/blablabot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "f38489d7.a650a8",
                "5dd347b6.7803a8",
                "567da7f0.fdffa8"
            ]
        ]
    },
    {
        "id": "f38489d7.a650a8",
        "type": "http response",
        "z": "8969e088.4fdd8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "5dd347b6.7803a8",
        "type": "debug",
        "z": "8969e088.4fdd8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 460,
        "wires": []
    },
    {
        "id": "567da7f0.fdffa8",
        "type": "change",
        "z": "8969e088.4fdd8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "receiver",
                "pt": "msg",
                "to": "payload.message.from.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ngrokURL",
                "pt": "msg",
                "to": "https://5a282342cf1e.ngrok.io",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "botToken",
                "pt": "msg",
                "to": "bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "b182e574.a67ef8"
            ]
        ]
    },
    {
        "id": "b182e574.a67ef8",
        "type": "switch",
        "z": "8969e088.4fdd8",
        "name": "",
        "property": "payload.message.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "payload.message.text",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "7b93d602.b0fcd8"
            ],
            [
                "cb07465a.25e6c8"
            ]
        ]
    },
    {
        "id": "cb07465a.25e6c8",
        "type": "switch",
        "z": "8969e088.4fdd8",
        "name": "",
        "property": "payload.message.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ротвейлер",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Чихуахуа",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 420,
        "wires": [
            [
                "c074985f.937b18"
            ],
            [
                "7875d059.26e2f"
            ]
        ]
    },
    {
        "id": "7b93d602.b0fcd8",
        "type": "function",
        "z": "8969e088.4fdd8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Выбери собаку:\",\n    \"reply_markup\": {\n            \"keyboard\": [['Ротвейлер'], ['Чихуахуа']],\n            \"resize_keyboard\" : true, \n      \"one_time_keyboard\" : true\n\n    },\n  \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "944ece4a.1fbdb"
            ]
        ]
    },
    {
        "id": "944ece4a.1fbdb",
        "type": "http request",
        "z": "8969e088.4fdd8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c074985f.937b18",
        "type": "function",
        "z": "8969e088.4fdd8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Бро!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 320,
        "wires": [
            [
                "4446b3f9.4b090c"
            ]
        ]
    },
    {
        "id": "7875d059.26e2f",
        "type": "function",
        "z": "8969e088.4fdd8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Не бро\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 480,
        "wires": [
            [
                "14e4a7b.f921558"
            ]
        ]
    },
    {
        "id": "4446b3f9.4b090c",
        "type": "http request",
        "z": "8969e088.4fdd8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 950,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "14e4a7b.f921558",
        "type": "http request",
        "z": "8969e088.4fdd8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 930,
        "y": 480,
        "wires": [
            []
        ]
    }
]