flow.json
[
    {
        "id": "a413c5de.eff2d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5e86036e.d2eadc",
        "type": "inject",
        "z": "a413c5de.eff2d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "519acc7a.fe2634"
            ]
        ]
    },
    {
        "id": "5b2a4d59.fb0cd4",
        "type": "debug",
        "z": "a413c5de.eff2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "519acc7a.fe2634",
        "type": "http request",
        "z": "a413c5de.eff2d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/setWebhook?url=https://b1e6588a97b6.ngrok.io/blablabot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "5b2a4d59.fb0cd4"
            ]
        ]
    },
    {
        "id": "fe21fe38.121c9",
        "type": "http in",
        "z": "a413c5de.eff2d8",
        "name": "",
        "url": "/blablabot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "7f4cfafb.abf044",
                "dc3f4632.3aabc8",
                "35505cbd.6300c4"
            ]
        ]
    },
    {
        "id": "35505cbd.6300c4",
        "type": "function",
        "z": "a413c5de.eff2d8",
        "name": "",
        "func": "msg.payload = {\n\n  text: 'Bla bla',\n\n  chat_id: msg.payload.message.from.id,\n\n  }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "e21653c1.1fe95"
            ]
        ]
    },
    {
        "id": "e21653c1.1fe95",
        "type": "http request",
        "z": "a413c5de.eff2d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 750,
        "y": 240,
        "wires": [
            [
                "bb1a43ff.05786"
            ]
        ]
    },
    {
        "id": "7f4cfafb.abf044",
        "type": "http response",
        "z": "a413c5de.eff2d8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 240,
        "y": 440,
        "wires": []
    },
    {
        "id": "dc3f4632.3aabc8",
        "type": "debug",
        "z": "a413c5de.eff2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 440,
        "wires": []
    },
    {
        "id": "bb1a43ff.05786",
        "type": "debug",
        "z": "a413c5de.eff2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 280,
        "wires": []
    }
]